# заполни и скопируй в .env (на сервере)
DOMAIN=example.ru
TZ=Europe/Moscow

# какие профили поднимать по умолчанию
COMPOSE_PROFILES=proxy,gitea

# email владельца аккаунта в Let's Encrypt (используется acme.sh)
LE_EMAIL=you@example.ru

# ключ для JWT-токенов Vikunja
VIKUNJA_JWT_SECRET=поставь_сюда_длинный_рандомный_секрет
