# config/traefik/dynamic/22-qnap.yaml
http:
  routers:
    qnap:
      rule: 'Host(`q.{{ env "DOMAIN" }}`)'
      entryPoints: ["websecure"]
      middlewares: ["allowlist-default"]   # только allowlist
      service: qnap
      tls: {}

  services:
    qnap:
      loadBalancer:
        servers:
          - url: "https://192.168.222.10:443"
        serversTransport: "insecure-skip"

  serversTransports:
    insecure-skip:
      insecureSkipVerify: true