# config/traefik/dynamic/23-mcb.yaml
http:
  routers:
    mcb:
      rule: 'Host(`mcb.{{ env "DOMAIN" }}`)'
      entryPoints: ["websecure"]
      # Делаем приоритет очень высоким, чтобы точно выигрывать у любых старых правил
      priority: 50000
      middlewares: ["allowlist-default","mcb-root-redirect","mcb-ui-slash"]
      service: mcb
      tls: {}

  middlewares:
    # Если пришли в корень — отдать 301 на /ui/
    mcb-root-redirect:
      redirectRegex:
        regex: "^/$"
        replacement: "/ui/"
        permanent: true

    # Нормализация: /ui -> /ui/
    mcb-ui-slash:
      redirectRegex:
        regex: "^/ui$"
        replacement: "/ui/"
        permanent: true

  services:
    mcb:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "http://192.168.233.30:9090"